#footer {
  padding: 16px;
  border-top: 1px solid #2E86C1;
}

#title-logo {
  border-right: 1px solid #AED6F1;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-brand {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-group {
  margin-bottom: 0 !important;
}

.card-header {
    background-color: #2E86C1 !important;
    color: #ffffff !important;
  }

.bslib-card {
  border-color: #AED6F1 !important;
}

.bslib-page-navbar > .navbar + div, .bslib-page-dashboard > .navbar + div {
  background-color: #F0F6FC;
}
.navbar {
    background-color: #2E86C1 !important;
  }

.accordion-header {
  background-color: #2E86C1 !important;
  border: 1px solid #AED6F1;
  color: #ffffff !important;
}

.accordion-body {
  border: 1px solid #AED6F1;
  padding: 5px !important;
}
