#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  border-top: 1px solid #000;
}

#footer-left {
  float: left;
}

#footer-right {
  float: right;
}

#title-logo {
  border-right: 1px solid #c5c8ca;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-brand {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 15px;
}
